<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register | UniConnect</title>
</head>

<body>

    <h1>Create your UniConnect account</h1>

    {% if error %}
    <p>{{ error }}</p>
    {% endif %}

    <form
        action="{{ url_for('register') }}"
        method="post"
    >

        <div>
            <label for="name">
                Name
            </label>

            <input
                type="text"
                id="name"
                name="name"
                value = "{{name}}"
            >
        </div>


        <div>
            <label for="email">
                Email
            </label>

            <input
                type="email"
                id="email"
                name="email"
                value = "{{email}}"
            >
        </div>


        <div>
            <label for="password">
                Password
            </label>

            <input
                type="password"
                id="password"
                name="password"
            >
        </div>


        <div>
            <label for="confirm-password">
                Confirm password
            </label>

            <input
                type="password"
                id="confirm-password"
                name="confirm_password"
            >
        </div>


        <button type="submit">
            Create account
        </button>

    </form>

</body>
</html>